<h4>Register Today</h4>
<form action="/register" method="post">
    <div><label for="name">Your Full Name: </label><input type="text" name="name" for="name"></div>
    <div><label for="email"></label>Email Address: <input type="email" name="email" for="email"></div>
    <div><label for="password"></label>Password: <input type="password" name="password" for="password"></div>
    <input type="submit" value="Register Now!">
</form>
<a href="/login">Login</a>
